@{
    ViewData["Title"] = "AutoMarket";
}

<div class="text-center">
    <h1 class="display-4">El mejor sitio para encontrar el auto de tus sueños </h1>
</div>
<div>
    <center>
        <section>
            <img src="https://dercocenter-api.s3.us-east-1.amazonaws.com/medias/dercocenter/migration/news/iStock-598706594_compressed-1200x800.jpg">
            <img src="https://autosdelujo.ec/content/images/size/w600/2020/07/LAMBOEVO-ECCOVER.jpg">
            <img src="https://revistamotors.com/wp-content/uploads/2023/04/00_1812_Ford_Mustang_1969-scaled.webp">
            <img src="https://img.remediosdigitales.com/4ee543/41979844255_deb4d75647_o/1366_2000.jpg">
        </section>
    </center>
</div>