@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>
<h2>
    Seguridad y protección de datos personales
</h2>
<p>
    Su privacidad es importante para la AutoMarket ("AM" o" nosotros"),
    así como su confianza en los productos y servicios de General Motors o Chevrolet.
    Queremos que conozca que la información que comparte con nosotros es tratada con cuidado.
    Esta Declaración de Privacidad se refiere a la información personal
    que recopilamos ya cómo manejamos la información personal que comparte con nosotros.
</p>
<h3>
    Alcance
</h3>
<p>
    Esta Declaración de Privacidad se aplica a la información personal que obtenemos de y sobre las personas que
    interactúan con AM y sus sitios web, productos y servicios. No se aplica a la información personal que obtenemos
    en nuestra calidad de empleador. Esta Declaración de Privacidad cubre todos los negocios de AM. Además, las aplicaciones
    móviles tienen normas de privacidad diferentes, como se describe en la sección Aplicaciones Móviles a continuación


</p>